*_{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Maven Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Libre Franklin', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/*header-section code stert*/
.header-section{
	width: 100%;
	background: url("../images/bg.png") center top no-repeat;
  
    
}
.header-section .bg-light{
	background: transparent !important;
}
.header-section .navbar-brand img{
    width: 100%;
}
.header-section .navbar-light .navbar-nav .nav-link.active{
	color: #511de5;
	background: url("../images/ul.png") center bottom no-repeat;
	background-size: contain;
}

.header-section .navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0px 15px;
}
.header-section .navbar-light .navbar-nav .nav-link:focus, .header-section .navbar-light .navbar-nav .nav-link:hover {
   color: #511de5;
	background: url("../images/ul.png") center bottom no-repeat;
	background-size: contain;
}
.header-section .btn-info{
padding: 5px 35px;
margin-left: 15px;
font-size: 15px;
border:none;
width: 100%;
color: #fff;
border-radius: 45px;
background: linear-gradient( to right, #511de5, #0f86fa);
}


       /*  banner start */
.banner{
     width: 100%;
     padding: 280px 0px;
}

.inner-banner h1 {
    width: 100%;
    padding: 147px 76px;
    text-align: right;
    font-weight: 800;
}
.inner-banner .btn-primary{
	    padding: 5px 0px;
		margin-left: 15px;
		font-size: 15px;
		border:none;
		color:#000;
		border-radius: 45px;
		background:#f2f2f2;
		border-radius: 35px;
}
.inner-banner .btn-primary:hover, .inner-banner .btn-primary:focus{
       color:#fff;
		border-radius: 45px;
		background:#511de5;
}
/*banner end */

/*  highliget section code start  */

.high-liget{
	width: 100%;

}
.high-liget{
	width: 100%;
	background: url("../images/hi.png")center top no-repeat;
	background: cover;
	padding: 50px 0px;
	position: relative;
}
.inner-high img{
	color: #511de5;
    position: absolute;
    top: -61px;
    left: 63px;
}

.inner-high h2{
font-size: 32px;
text-align: center;
font-weight: 800px;
line-height: 30px;
color: #fff;
padding: 50px 0px;
}   
/*  highliget section code end  */


/*feature section code start*/
.feature{
	width: 100%;
	padding: 80px 0px;
}
.feature .inner-feature{ 
    width: 100%;
    padding: 80px;
    background: url("../images/Bg2.png") center bottom no-repeat;
    background: cover;
    box-shadow: 1px 4px 10px #ccc;

 }
  
 .feature .inner-feature h1{
 	font-size: 42px;
    font-weight: 900;
    line-height: 47px;
    color: #000;s
 }

 .feature .inner-feature p{
     font-size: 14px;
     font-weight: 500;
     padding: 30px 0px 30px;
     color: #000;

 }
 .feature .inner-feature p .percent{
          font-size: 110px;
          font-weight: 900;
          background: linear-gradient(to right, #501ee5, #0c8afb);
          -webkit-background-clip:text;
          -webkit-text-fill-color:transparent;
          -o-background-clip:text;
          -ms-background-clip:text;
         
 }
 .feature .inner-feature p .Pro{
          font-size: 14px;
          color:#8d8d8d;
          font-weight: 700;
          padding: 80px 0px;
 }
 
 .feature .cliect{
 	width: 100%;
 	padding: 80px 0px;
 	text-align: center;
 }
 /*feature section code end*/

 /*intro code section start*/
.intro{
	width: 100%;
	padding: 80px 0px;
	background: url('../images/intro quote.png') center top no-repeat;
	background-size: cover;
	position: relative;
}
.inner-intro{
	width: 100%;
	padding: 130px 0px;
	background: url('../images/quote.png') center top no-repeat;
	background-size: cover;
}

.inner-intro p{
	width: 100%;
text-align: center;
font-size: 15px;
font-weight: 500;
color: #fff;

}
.inner-intro h5{
font-size: 18px;
text-align: center;
padding: 20px;
color: #fff;
}
.inner-text p{
     font-size: 40px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    padding: 30px;
    color: #000;
}
.intro .inner-text .btn-info{
width: 168px;
padding: 5px 34px;
margin-right: 20px;
font-size: 15px;
border: none;
text-align: center;
color: #000;
background: transparent;
border-radius: 45px;
position: absolute;
right: 414px; 
}

.intro .inner-text .btn-info:hover, .intro .inner-text .btn-info:focus{

	   color:#fff;
		border-radius: 45px;
		background:#511de5;
}
 /*intro code section end*/


/*Efficiency section start*/
.Efficiency{
	width: 100%;
	padding: 80px 0px;
}
.Efficiency .inner-Efficiency h1{
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	color: #000;
	padding: 30px 0px;

}
.Efficiency .inner-Efficiency p{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #000;
}
.Efficiency .inner-Efficiency .shape{
	font-size: 16px;
	font-weight: 500;
	color: #000;
	padding-right:10px;
}
.Efficiency .inner-Efficiency .btn-info{
	width: 168px;
padding: 5px 34px;
margin-right: 20px;
font-size: 15px;
border: none;
text-align: center;
color: #000;
background: transparent;
border-radius: 45px;
position: absolute;
right: 414px; 
}
/*Efficiency section end*/

/*layer section start*/
.layer{
	width: 100%;
	padding: 80px 0px;
	background-color: #fcfcfc;
}
.layer .inner-layer{
	width: 100%;
	padding: 25px;
	text-align: center;
}
.layer .inner-layer h1{
    font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	color: #000;
	padding-bottom: 15px;

}
.layer .inner-layer p{
     font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #000;
}
/*layer section end*/


.card-group{
	width: 100%;
	text-align: center;
	padding: 80px 0px;
	position: relative;
	background: #fcfcfc;
}
.card-group .card img{
    width: 100px;
    height: 100px;
    padding: -23px;
    position: absolute;
    right: 124px;
    top: -94px;

}
s
.card-group .card h5{
font-size: 25px;
font-weight: 600;
color: #000;
text-align: center;
}
.card-group .card p{
	 font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	color: #000;
	text-align: center;
}
/* forma section code startv*/
.forma{
	width: 100%;
	padding: 80px 0px;

}

.forma h1{
	width: 100%;
	padding-bottom: 80px;
	font-size: 42px;
	font-weight: 700;
	text-align: center;
	color: #000;
	}
	.forma .inner-forma{
		width: 100%;
		padding: 80px 20px;
		background: url("../images/F1.png");
	}
	.forma .inner-forma h4{
	  font-size: 18px;
      font-weight: 600;
      position: relative;
	}
	.forma .inner-forma img {
    position: relative;
    top: 94px;
    right: 70px;
}
.forma .inner-forma h3{
		 width: 100%;
		padding: 100px 0px 0px;
		font-size: 20px;
		font-weight: 600;
		text-align: center;
}
.forma .inner-forma p{
		 width: 100%;
		padding: 20px 0px;
		font-size: 14px;
		text-align: center;
}
/* forma section code end*/


/*faq section code start*/
   {
   	width: 100%;
   	padding: 80px 0px;
  
   }
.faq .inner-faq{
	width: 100%;
	padding: 80px 0px;
    background: url("../images/Faq.png")center top no-repeat;
   	background-size: cover;
}

.faq .inner-faq h1{
	font-size: 42px;
	font-weight: 700;
	color: #000;
	text-align: center;
	padding: 20px 0px;
	}

.faq .inner-faq h6{
	font-size: 18px;
	font-weight: 500;
	color: #000;
	padding: 25px 80px;

}
.faq .inner-faq p{
	 width: 100%;
		padding: 25px 80px;
		font-size: 14px;
		text-align: left;
}
/*faq section code end*/